@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --extricate-c-dark: #191813;
  --extricate-c-faint: #c9c7b8;
  --extricate-c-beige: #b5b3a4;
  --extricate-c-tan: #444444;
  --extricate-c-white: #ffffff;
  --extricate-c-black: #000000;
  --extricate-c-groove: #eeede0;
}

.theme-dark {
  --extricate-c-dark: #c9c7b8;
  --extricate-c-faint: #191813;
  --extricate-c-beige: #444444;
  --extricate-c-tan: #b5b3a4;
  --extricate-c-white: #000000;
  --extricate-c-black: #ffffff;
  --extricate-c-groove: #11121f;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: var(--extricate-c-black);
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px;
  margin: 5px 0;
  padding: 5px;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to extricate sheets */
.extricate .item-form {
  font-family: "Roboto", sans-serif;
}
.extricate .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.extricate .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.extricate .sheet-header .header-fields {
  flex: 1;
}
.extricate .sheet-tabs {
  flex: 0;
}
.extricate .sheet-body,
.extricate .sheet-body .tab,
.extricate .sheet-body .tab .editor {
  height: 100%;
}
.extricate .tab.biography {
  flex: 1;
}
.extricate .tab.biography .editor {
  height: 100%;
}
.extricate .tox .tox-editor-container {
  background: var(--extricate-c-white);
}
.extricate .tox .tox-edit-area {
  padding: 0 8px;
}
.extricate .resource-label {
  font-weight: bold;
}
.extricate .ability {
  margin-bottom: 2px;
}
.extricate .ability-score,
.extricate .ability-mod {
  flex: 0 0 44px;
}
.extricate .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--extricate-c-groove);
  font-weight: bold;
}
.extricate .items-header > * {
  font-size: 14px;
  text-align: center;
}
.extricate .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.extricate .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--extricate-c-tan);
}
.extricate .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.extricate .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.extricate .items-list .item-name h3, .extricate .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.extricate .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.extricate .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.extricate .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--extricate-c-faint);
}
.extricate .items-list .item:last-child {
  border-bottom: none;
}
.extricate .items-list .item .item-name {
  color: var(--extricate-c-dark);
}
.extricate .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.extricate .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.extricate .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--extricate-c-groove);
  font-weight: bold;
}
.extricate .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.extricate .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.extricate .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.extricate .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--extricate-c-groove);
  font-weight: bold;
}
.extricate .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.extricate .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.extricate .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--extricate-c-tan);
}
.extricate .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.extricate .effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.extricate .effects-list .effect-name h3, .extricate .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.extricate .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.extricate .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.extricate .effects-list .effect {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--extricate-c-faint);
}
.extricate .effects-list .effect:last-child {
  border-bottom: none;
}
.extricate .effects-list .effect .effect-name {
  color: var(--extricate-c-dark);
}
.extricate .effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.extricate .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.extricate .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--extricate-c-groove);
  font-weight: bold;
}
.extricate .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.extricate .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.extricate .effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.extricate .effects .item .effect-source,
.extricate .effects .item .effect-duration,
.extricate .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.extricate .effects .item .effect-controls {
  border: none;
}

.features-background {
  height: 72%;
  width: 95%;
  position: absolute;
  z-index: -1;
  background-image: url("/d9b58a113b1631a666936fedf565c91c.jpg");
  opacity: 25%;
}

.features-header {
  margin: 0px;
  height: 140px;
}

.ability-box {
  float: left;
  margin: 3px;
  margin-right: 10px;
  max-width: 174px;
}

.grid-3colskill {
  display: grid;
  grid-row: 3;
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.skill-value {
  min-width: 2rem;
  max-width: 2rem;
  max-height: 1.3rem;
}

.bottom-skills {
  grid-column: 2;
  grid-row: 1;
}

.skill-btn {
  padding: 5px 6px;
  background: rgba(40, 32, 44, 0.616);
  border-radius: 5px;
  border: 3px solid rgba(40, 32, 44, 0.616);
  text-align: center;
  min-width: 5.1rem;
}

.lewd-btn {
  padding: 5px 6px;
  background: rgba(40, 32, 44, 0.616);
  border-radius: 5px;
  border: 3px solid rgba(40, 32, 44, 0.616);
  text-align: left;
  min-width: 5.1rem;
  max-width: 5.1rem;
  margin-right: 1rem;
}

.skill-btn:active {
  background: rgba(105, 82, 116, 0.616);
}

.roll-btn {
  padding: 10px 20px;
  background: rgba(40, 32, 44, 0.616);
  border-radius: 5px;
  border: 7px solid rgba(40, 32, 44, 0.616);
  text-align: center;
  font-weight: bold;
}

.roll-btn:active {
  background: rgba(105, 82, 116, 0.616);
}

.roll-btn.active {
  background: rgba(105, 82, 116, 0.616);
}

.item-list {
  display: grid;
  max-height: 600px;
  grid-row: span 2/span 3;
}

.item-box {
  overflow: scroll;
  height: 150px;
}

.lewd-dropdown {
  min-width: 8rem;
}

.red-color {
  background: rgba(194, 50, 50, 0.616);
}

.red-color.active {
  background: rgba(247, 179, 179, 0.616);
}

.blue-color {
  background: rgba(67, 95, 177, 0.616);
}

.blue-color.active {
  background: rgba(119, 142, 212, 0.616);
}

.green-color {
  background: rgba(64, 133, 84, 0.616);
}

.green-color.active {
  background: rgba(143, 247, 173, 0.616);
}

.yellow-color {
  background: rgba(238, 196, 7, 0.616);
}

.yellow-color.active {
  background: rgba(255, 239, 95, 0.616);
}

.pink-color {
  background: rgba(243, 106, 213, 0.625);
}

.pink-color.active {
  background: rgba(255, 152, 233, 0.685);
}

/*# sourceMappingURL=extricate.css.map */
