// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to extricate sheets */
.extricate {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
}

.features-background {
	height: 72%;
	width: 95%;
	position: absolute;
	z-index: -1;
	background-image: url("/d9b58a113b1631a666936fedf565c91c.jpg");
	opacity: 25%;
}

.features-header {
	margin: 0px;
	height: 140px;
}

.ability-box {
	float: left;
	margin: 3px;
	margin-right: 10px;
	max-width: 174px;
}

.grid-3colskill {
	display: grid;
	grid-row: 3;
	gap: 10px;
	margin: 10px 0;
	padding: 0;
  }

.grid-container {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: auto auto auto auto auto;
}

.grid-5row {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: auto auto auto auto auto;
	grid-column: 1/ -1;
}


.skill-value {
	min-width: 2rem;
	max-width: 2rem;
	max-height: 1.3rem;
  }

.bottom-skills {
	grid-column: 2;
	grid-row: 1;
  }

.skill-btn {
	padding: 5px 6px;
	background: rgba(40, 32, 44, 0.616);
	border-radius: 5px;
	border: 3px solid rgba(40, 32, 44, 0.616);
	text-align: center;
	min-width: 5.1rem;
}

.lewd-btn {
	padding: 5px 6px;
	background: rgba(40, 32, 44, 0.616);
	border-radius: 5px;
	border: 3px solid rgba(40, 32, 44, 0.616);
	text-align: left;
	min-width: 5.1rem;
	max-width: 5.1rem;
	margin-right: 1rem;
}

.skill-btn:active {
	background: rgba(105, 82, 116, 0.616);
}

.roll-btn {
	padding: 10px 20px;
	background: rgba(40, 32, 44, 0.616);
	border-radius: 5px;
	border: 7px solid rgba(40, 32, 44, 0.616);
	text-align: center;
	font-weight: bold;
}

.roll-btn:active {
	background: rgba(105, 82, 116, 0.616);
}

.roll-btn.active {
	background: rgba(105, 82, 116, 0.616);
}

.item-list {
	display: grid;
	max-height: 600px;
	grid-row: span 2/ span 3;
}

.item-box {
	overflow: scroll;
	height: 150px;
}

.stat-label {
	margin: 0.8rem 0.8rem;
}

.lewd-dropdown {
	min-width: 8rem;
}

.red-color {
	background: rgba(194, 50, 50, 0.616);

}

.red-color.active {
	background: rgba(247, 179, 179, 0.616);

}

.blue-color {
	background: rgba(67, 95, 177, 0.616);
	
}

.blue-color.active {
	background: rgba(119, 142, 212, 0.616);
	
}

.green-color {
	background: rgba(64, 133, 84, 0.616);
	
}

.green-color.active {
	background: rgba(143, 247, 173, 0.616);
	
}


.yellow-color {
	background: rgba(238, 196, 7, 0.616);
	
}

.yellow-color.active {
	background: rgba(255, 239, 95, 0.616);
	
}

.pink-color {
	background: rgba(243, 106, 213, 0.625);
}

.pink-color.active {
	background: rgba(255, 152, 233, 0.685);
}

